

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}

<div class="parent_autpic">

    <div class="top_part">
        <h3>圖片彙整</h3>
        <p><a href="https://drive.google.com/file/d/1EVbE7FcHWbJSy5_NiugvhgSyY2xfFbMY/view?usp=sharing" target="_blank">下載</a> <a href="https://github.com/chunapp/python-wordautopic" target="_blank">原始碼</a></p>
        <p>圖片放在<b style="color: #F75000;">captures</b>資料夾下<br>
        勿更動<b style="color: #F75000;">template(dont-touch-it).docx</b>檔案<br>
        執行後直接產出<b style="color: #F75000;">output.docx</b>結果檔案</p>
    </div>

    <div class="main_part_autopic">
        <div class="main_col_autopic_1">
            <p><b>1x.exe</b><br>
                （適合電腦截圖，表格單純編號）<br>
            captures<br>
            　↳ pic1.jpg<br>
            　↳ pic2.jpg<br>
            　↳ pic3.jpg<br>
            　↳ pic4.jpg</p>
        </div>
        <div class="main_col_autopic">
            <table>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>1</td>
                </tr>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>2</td>
                </tr>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>3</td>
                </tr>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>4</td>
                </tr>
            </table>
        </div>
        <div class="main_col_autopic_1">
            <p><b>1x_filename.exe</b><br>（適合電腦截圖，表格帶入圖片檔名）<br>
            captures<br>
            　↳ pic1.jpg<br>
            　↳ pic2.jpg<br>
            　↳ pic3.jpg<br>
            　↳ pic4.jpg</p>
        </div>
        <div class="main_col_autopic">
            <table>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>pic1</td>
                </tr>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>pic2</td>
                </tr>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>pic3</td>
                </tr>
                <tr>
                    <td><div class="pic_h"></div></td>
                </tr>
                <tr>
                    <td>pic4</td>
                </tr>
            </table>
        </div>
        <div class="main_col_autopic_1">
            <p><b>2x.exe</b><br>（適合手機截圖，表格單純編號）<br>
            captures<br>
            　↳ pic1.jpg<br>
            　↳ pic2.jpg<br>
            　↳ pic3.jpg<br>
            　↳ pic4.jpg</p></div>
        <div class="main_col_autopic">
            <table>
                <tr>
                    <td><div class="pic_v"></div></td>
                    <td><div class="pic_v"></div></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><div class="pic_v"></div></td>
                    <td><div class="pic_v"></div></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
        <div class="main_col_autopic_1">
            <p><b>2x_filename.exe</b><br>（適合手機截圖，表格帶入圖片檔名）<br>
                captures<br>
                　↳ pic1.jpg<br>
                　↳ pic2.jpg<br>
                　↳ pic3.jpg<br>
                　↳ pic4.jpg</p>
        </div>
        <div class="main_col_autopic">
            <table>
                <tr>
                    <td><div class="pic_v"></div></td>
                    <td><div class="pic_v"></div></td>
                </tr>
                <tr>
                    <td>pic1</td>
                    <td>pic2</td>
                </tr>
                <tr>
                    <td><div class="pic_v"></div></td>
                    <td><div class="pic_v"></div></td>
                </tr>
                <tr>
                    <td>pic3</td>
                    <td>pic4</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
