

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}

<div class="parent_combine">

    <div class="top_part">
        <h3>文字組合</h3>
        <table class="top_part_table">
            <tr>
                <td>test1 test2</td>
                <td>➞</td>
                <td>test1,test2<br>test1(test2)</td>
            </tr>
        </table>
    </div>

    <div class="combine_main_part">

        <div class="main_col">
            <div class="main_row main_row_title">
                <p>Input1:</p>
            </div>
            <div class="main_row">
                <textarea class="form-control" name="input1" rows="20" id="input1"></textarea>
            </div>
            <div class="main_row main_row_button">
            </div> 
        </div>

        <div class="main_col">
            <div class="main_row main_row_title">
                <p>Input2:</p>
            </div>
            <div class="main_row">
                <textarea class="form-control" name="input1" rows="20" id="input2"></textarea>
            </div>
            <div class="main_row main_row_button">
                <button type="submit" class="btn btn-danger button" onclick="getresult_1()" id="number">,</button>
                <button type="submit" class="btn btn-danger button" onclick="getresult_2()" id="number">，</button>
                <button type="submit" class="btn btn-danger button" onclick="getresult_3()" id="number">()</button>
                <button type="submit" class="btn btn-danger button" onclick="getresult_4()" id="number">（）</button>
                <button type="submit" class="btn btn-danger button" onclick="getresult_5()" id="number">空格</button>
                <button type="submit" class="btn btn-danger button" onclick="getresult_6()" id="number">沒有</button>
            </div> 
        </div>

        <div class="main_col">
            <div class="main_row main_row_title">
                <p>Result:</p>
            </div>
            <div class="main_row">
                <textarea class="form-control" name="result" rows="20" id="result"></textarea>
            </div>
            <div class="main_row main_row_button">
                <button type="submit" class="btn btn-primary button" onclick="copytoinput1()">複製回input1</button>
                <button type="submit" class="btn btn-primary button" onclick="clickcopy()">複製</button>
            </div>
        </div>


    </div>
</div>

<script src="{{url_for('.static', filename='combine.js')}}"></script>
{% endblock %}
