
{% extends 'base.html' %}
{% block title %}Records{% endblock %}

{% block content %}
<section id="no-more-tables">
	<div class="container">

		<h3> 使用者：<u>{{user}}</u></h3>

		<div style="float: left;">
			
		</div>
		<div style="float: right">
			<a href="https://ppt.cc" class="btn btn-primary" role="button" target="_blank">ptt短網址</a>
		</div>

		<div style="clear: both;"></div>

		<hr>
		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">目標</th>
		            <th class="numeric">時間</th>
		            <th class="numeric">給目標網頁</th>
		            <th class="numeric">傳的網址</th>
		            <th class="numeric">備註</th>
		            <th class="numeric">紀錄</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for result in results %}
			        <tr>
			            <td data-title="目標" class="numeric" name="targetk"><b>{{result["target"]}}</a></b></td>
			            <td data-title="時間" class="numeric" name="targeth">{{result["time"]}}</td>
			            <td data-title="給目標網頁" class="numeric" name="targetn">{{result["dsturl"]}}</td>
			            <td data-title="傳的網址" class="numeric" name="targetn">https://dailynewstw.herokuapp.com/news/{{result["token"]}}</td>
			            <td data-title="備註" class="numeric" name="targetn">{{result["description"]}}</td>
			            <td data-title="紀錄" class="numeric"><a href="/getiprecords?token={{result["token"]}}" class="btn-sm btn-secondary" role="button">紀錄</a></td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		
	</div>
	<div class="wrapper">
			<div id="formContent">
				<h3>新增一筆</h3>
				<form method="post" action="/getipadd">
		      		<input type="text" id="target" name="target" placeholder="目標">
		      		<input type="text" id="dsturl" name="dsturl" placeholder="給目標網頁(含https://)">
		      		<input type="text" id="description" name="description" placeholder="備註(可不填)">
		      		<input type="submit" class="fourth" value="新增">
		    	</form>
		    </div>
	    </div>
</section>
{% endblock %}