
{% extends 'base.html' %}
{% block title %}Records{% endblock %}

{% block content %}
<section id="no-more-tables">
	<div class="container">
		<br>
		<div style="float: left;">
			
		</div>
		<div style="float: right">
			<a class="btn btn-secondary" role="button" onclick="show()">新增</a>
			<a href="https://bitly.com" class="btn btn-primary" role="button" target="_blank">bitly</a>
			<a href="https://ppt.cc" class="btn btn-primary" role="button" target="_blank">ptt</a>
			<a href="/logout" class="btn btn-danger" role="button">登出</a>
		</div>

		<div style="clear: both;"></div>

		<div class="wrapper">
			<div id="formContent" style="display: none;">
				<h3>新增一筆</h3>
				<form method="post" action="/getipadd">
		      		<input type="text" id="target" name="target" placeholder="目標">
		      		<input type="text" id="dsturl" name="dsturl" placeholder="最終呈現頁面(含https://)">
		      		<input type="text" id="description" name="description" placeholder="備註(可不填)">
		      		<input type="submit" class="fourth" value="新增">
		    	</form>
		    </div>
		</div>
		
		<h3>轉址連結</h3>		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">目標</th>
		            <th class="numeric">時間</th>
		            <th class="numeric">最終呈現頁面</th>
		            <th class="numeric">給對方的網址（請搭配縮網址）</th>
		            <th class="numeric">Copy</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for result in results %}
			        <tr>
			            <td data-title="目標" class="numeric" name="targetk"><b><a href="/getiprecords?token={{result["token"]}}">{{result["target"]}}</a></a></b></td>
			            <td data-title="時間" class="numeric" name="targeth">{{result["time"]}}</td>
			            <td data-title="最終呈現頁面" class="numeric" name="targetn">{{result["dsturl"]}}</td>
			            <td data-title="給對方的網址" class="numeric" name="targetn" id="{{result["id"]}}">https://dailynewstw.herokuapp.com/news/{{result["token"]}}</td>
			            <td data-title="Copy" class="numeric" name="targetn"><span onclick="copyToClipboard('{{result["id"]}}')" style="color: #84C1FF;">Copy</span></td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		
	</div>
	
</section>
<script src="{{url_for('.static', filename='getip.js')}}"></script>
{% endblock %}