
{% extends 'base.html' %}
{% block title %}Records{% endblock %}

{% block content %}
<section id="no-more-tables">
	<div class="container">

		<h3> 使用者：<u>{{user}}</u></h3>
		<div style="float: left;">
			<a href="/getip" class="btn btn-secondary" role="button">回上頁</a>
		</div>
		<div style="float: right">
			<a href="https://bitly.com" class="btn btn-primary" role="button" target="_blank">bitly</a>
			<a href="https://ppt.cc" class="btn btn-primary" role="button" target="_blank">ptt</a>
		</div>

		<div style="clear: both;"></div>
		
		<hr>

		<p>目標資訊：{{info["target"]}}</p>
		<p>網址建立時間：{{info["time"]}}</p>
		<p>最終呈現頁面：{{info["dsturl"]}}</p>
		<p>給對方的網址：https://dailynewstw.herokuapp.com/news/{{info["token"]}}</p>
		{% if info["description"] %}
			<p>備註：{{info["description"]}}</p>
		{% endif %}
		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">目標</th>
		            <th class="numeric">時間</th>
		            <th class="numeric">最終呈現頁面</th>
		            <th class="numeric">給對方的網址</th>
		            <th class="numeric">備註</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for info in infos %}
			        <tr>
			            <td data-title="目標" class="numeric" name="targetk"><b>{{info["target"]}}</a></b></td>
			            <td data-title="時間" class="numeric" name="targeth">{{info["time"]}}</td>
			            <td data-title="最終呈現頁面" class="numeric" name="targetn">{{info["dsturl"]}}</td>
			            <td data-title="給對方的網址" class="numeric" name="targetn">https://dailynewstw.herokuapp.com/news/{{info["token"]}}</td>
			            <td data-title="備註" class="numeric" name="targetn">{{info["description"]}}</td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		<br>
		<p>IP紀錄：</p>	

		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">時間</th>
		            <th class="numeric">IP位址</th>
		            <th class="numeric">Port</th>
		            <th class="numeric">備註</th>
		            <th class="numeric">投單格式</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for record in records %}
			        <tr>
			            <td data-title="時間" class="numeric" name="targetk"><b>{{record["time"]}}</a></b></td>
						{% if record["ip"].split('.')[0] in taiwanips %}
							<td data-title="IP位址" class="numeric" name="targeth" style="color: red;"><b>{{record["ip"]}}</b></td>
						{% else %}
							<td data-title="IP位址" class="numeric" name="targeth">{{record["ip"]}}</td>
						{% endif %}
			            <td data-title="Port" class="numeric" name="targetn">{{record["port"]}}</td>
			            <td data-title="備註" class="numeric" name="targetn">{{record["description"]}}</td>
			            <td data-title="投單格式" class="numeric"><a href="/getipexport?recordid={{record["id"]}}" class="btn-sm btn-secondary" role="button">投單格式</a></td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		
	</div>
</section>
{% endblock %}