
{% extends 'base.html' %}
{% block title %}Records{% endblock %}

{% block content %}
<section id="no-more-tables">
	<div class="container">

		<h3> 使用者：<u>{{user}}</u></h3>

		<hr>
		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">目標</th>
		            <th class="numeric">時間</th>
		            <th class="numeric">給目標網頁</th>
		            <th class="numeric">傳的網址</th>
		            <th class="numeric">備註</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for result in results %}
			        <tr>
			            <td data-title="目標" class="numeric" name="targetk"><b>{{infos["target"]}}</a></b></td>
			            <td data-title="時間" class="numeric" name="targeth">{{infos["time"]}}</td>
			            <td data-title="給目標網頁" class="numeric" name="targetn">{{infos["dsturl"]}}</td>
			            <td data-title="傳的網址" class="numeric" name="targetn">{{infos["token"]}}</td>
			            <td data-title="備註" class="numeric" name="targetn">{{infos["description"]}}</td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		
	</div>
</section>
{% endblock %}