
{% extends 'base.html' %}
{% block title %}Records{% endblock %}

{% block content %}
<section id="no-more-tables">
	<div class="container">

		<h3> 使用者：<u>{{user}}</u></h3>

		<hr>

		<p>目標資訊：</p>
		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">目標</th>
		            <th class="numeric">時間</th>
		            <th class="numeric">給目標網頁</th>
		            <th class="numeric">傳的網址</th>
		            <th class="numeric">備註</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for info in infos %}
			        <tr>
			            <td data-title="目標" class="numeric" name="targetk"><b>{{info["target"]}}</a></b></td>
			            <td data-title="時間" class="numeric" name="targeth">{{info["time"]}}</td>
			            <td data-title="給目標網頁" class="numeric" name="targetn">{{info["dsturl"]}}</td>
			            <td data-title="傳的網址" class="numeric" name="targetn">{{info["token"]}}</td>
			            <td data-title="備註" class="numeric" name="targetn">{{info["description"]}}</td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		<hr>
		<p>IP紀錄：</p>	

		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">時間</th>
		            <th class="numeric">IP位址</th>
		            <th class="numeric">Port</th>
		            <th class="numeric">備註</th>
		            <th class="numeric">投單格式</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for record in records %}
			        <tr>
			            <td data-title="時間" class="numeric" name="targetk"><b>{{record["time"]}}</a></b></td>
			            <td data-title="IP位址" class="numeric" name="targeth">{{record["ip"]}}</td>
			            <td data-title="Port" class="numeric" name="targetn">{{record["port"]}}</td>
			            <td data-title="備註" class="numeric" name="targetn">{{record["description"]}}</td>
			            <td data-title="投單格式" class="numeric"><a href="/getipexport?recordid={{record["id"]}}" class="btn-sm btn-secondary" role="button">投單格式</a></td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
		
	</div>
</section>
{% endblock %}