

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}
<section id="no-more-tables">
	<div class="container">

		<h3>INSLOC</h3>

		<div style="float: left;">
			
		</div>
		<div style="float: right">
			<a href="/logout" class="btn btn-success" role="button">新增</a>
		</div>

		<div style="clear: both;"></div>

		<hr>
		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">Keyword</th>
		            <th class="numeric">Header</th>
		            <th class="numeric">Number</th>
		            <th class="numeric">URL</th>
		            <th class="numeric">Status</th>
		            <th class="numeric">Delete</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for result in results %}
			        <tr>
			            <td data-title="Keyword" class="numeric"><b><a href="https://loccib.herokuapp.com/target?target={{result["header"]}}&user={{result["user"]}}">{{result["keyword"]}}</a></b></td>
			            <td data-title="Header" class="numeric">{{result["header"]}}</td>
			            <td data-title="Number" class="numeric">{{result["number"]}}</td>
			            <td data-title="URL" class="numeric">{{result["url"]}}</td>
			            <td data-title="Status" class="numeric">{{result["status"]}}</td>
			            <td data-title="Status" class="numeric"><a href="/" class="btn-sm btn-danger" role="button">Delete</a></td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>

		<hr>

		<form method="post" action="/inslocadd">
      		<input type="text" id="keyword" name="keyword" placeholder="keyword">
      		<input type="text" id="header" name="header" placeholder="header">
      		<input type="text" id="number" name="number" placeholder="number">
      		<input type="text" id="url" name="url" placeholder="url">
      		<input  type="hidden" id="status" value="0" name="status">
      		<input type="submit" value="新增">
    	</form>

	</div>
</section>
{% endblock %}
