

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}

	
<div class="container">
	<div class="form-group row">
	  	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <ul class="flash">
	        {% for message in messages %}
	            <li>{{ message }}</li>
	        {% endfor %}
	    </ul>
	    {% endif %}
	    {% endwith %}
	</div>
	<div>
	
		<form method="post" action="/login">
		    <label for="user_id" class="col-2 offset-1 col-form-label">帳號：</label>
		    <div class="col-3">
		      <input type="text" class="form-control" id="user_id" name="user_id" placeholder="user_id">
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="password" class="col-2 offset-1 col-form-label">密碼：</label>
		    <div class="col-3">
		      <input type="password" class="form-control" id="password" name="password" placeholder="password">
		    </div>
		  </div>
		  <div class="form-group row">
		    <div class="col-2 offset-3">
		      <button type="submit" class="btn btn-primary">登入</button>
		    </div>
		  </div>
		</form>
	</div>
</div>



<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>請登入</h2>
    </div>

    <!-- Login Form -->
    <form method="post" action="/login">
      <input type="text" id="login" class="fadeIn second" name="user_id" placeholder="name">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="登入">
    </form>


  </div>
</div>
{% endblock %}


