

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>LOCCIB</h2>
    </div>

    <!-- Login Form -->
    <form method="post" action="/login">
      <input type="text" id="login" class="fadeIn second" name="user_id" placeholder="name">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="登入">
    </form>


  </div>
</div>
{% endblock %}


