

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}

<div class="parent">

    <div class="top_part">
        <h3>電話投單CSV</h3>
        <p>格式：行動0900123456或市話02-26223333</p>
    </div>
    
    <div class="number_main_part">

        <div class="main_col" id="div1">
            <div class="main_row main_row_title">
                <p>Phone Numbers:</p>
            </div>
            <div class="main_row">
                <textarea class="form-control" name="input1" rows="20" id="number"></textarea>
            </div>
            <div class="main_row main_row_button">
                <button type="submit" class="btn btn-danger button" onclick="getresult()" id="number">Run!</button>
            </div> 
        </div>

        <div class="main_col" id="div2">
            <div class="main_row main_row_title">
                <p>Result:</p>
            </div>
            <div class="main_row">
                <textarea class="form-control" name="result" rows="20" id="result"></textarea>
            </div>
            <div class="main_row main_row_button">
                <button type="submit" class="btn btn-primary button" onclick="clickcopy()">複製</button>
                <button type="submit" class="btn btn-info button" onclick="clickdownload()">下載</button>
            </div>
        </div>


    </div>
</div>

<script src="{{url_for('.static', filename='number.js')}}"></script>
{% endblock %}
