

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}
<section id="no-more-tables">
	<div class="container">
		<h1>{{user}}</h1>
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">主旨</th>
		            <th class="numeric">時間</th>
		            <th class="numeric">基地台</th>
		            <th class="numeric">三角定位</th>
		            <th class="numeric">備註</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for result in results %}
			        <tr>
			            <td data-title="主旨" class="numeric">{{result["header"]}}</td>
			            <td data-title="時間" class="numeric">{{result["time"]}}</td>
			            <td data-title="基地台" class="numeric">{{result["cell_lon"]}}</td>
			            <td data-title="三角定位" class="numeric"><a href="http://www.google.com.tw/maps/search/{{result["tri_lat"]}},{{result["tri_lon"]}}">http://www.google.com.tw/maps/search/{{result["tri_lat"]}},{{result["tri_lon"]}}</a></td>
			            <td data-title="備註" class="numeric">{{result["msg"]}}</td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
	</div>
</section>
{% endblock %}
