

{% extends 'base.html' %}
{% block title %}Records{% endblock %}



{% block content %}
<section id="no-more-tables">
	<div class="container">

		<div style="float: left;">
			<h3> 使用者：<u>{{user}}</u></h3>
		</div>
		<div style="float: right">
			<a href="/logout" class="btn btn-danger" role="button">登出</a>
		</div>

		<div style="clear: both;"></div>
		
		

		<div style="float: left;">
			
		</div>
		<div style="float: right">
			<p>總表僅列出100筆</p>
			
		</div>

		<div style="clear: both;"></div>

		<hr>
		
		<table class="table-bordered table-striped table-condensed cf">
		    <thead class="cf">
		        <tr>
		            <th class="numeric">Target</th>
		            <th class="numeric">Time</th>
		            <th class="numeric">Cell</th>
		            <th class="numeric">Tri_Loc</th>
		            <th class="numeric">Info</th>
		        <tr>
		    </thead>
		    <tbody>
		    	{% for result in results %}
			        <tr>
			            <td data-title="Target" class="numeric"><b><a href="https://loccib.herokuapp.com/target?target={{result["header"]}}&user={{result["user"]}}">{{result["header"]}}</a></b></td>
			            <td data-title="Time" class="numeric">{{result["time"]}}</td>
			            <td data-title="Cell"><a href="http://www.google.com.tw/maps/search/{{result["cell_lat"]}},{{result["cell_lon"]}}" target="_blank">{{result["cell_lat"]}},{{result["cell_lon"]}}</a></td>
			            <td data-title="Tri_Loc"><a href="http://www.google.com.tw/maps/search/{{result["tri_lat"]}},{{result["tri_lon"]}}" target="_blank">{{result["tri_lat"]}},{{result["tri_lon"]}}</a></td>
			            <td data-title="Info">{{result["msg"]}}</td>
			        </tr>
			    {% endfor %}
		    </tbody>
		</table>
	</div>
</section>
{% endblock %}
